---
import ShikiHighlighter from '../components/ShikiHighlighter.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main class='container'>
    <ShikiHighlighter code='console.log(0)' language='typescript' />
  </main>
</Layout>

<style lang='scss'>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
