---
import CodeBlock from '../components/CodeBlock.astro'
import Layout from '../layouts/Layout.astro'

const code = `
use reqwest::Error;
use serde::{Deserialize, Serialize};

#[derive(Serialize, Deserialize, Debug)]
struct Post {
    #[serde(rename = "userId")]
    user_id: u32,
    id: u32,
    title: String,
    body: String,
}

#[tokio::main]
async fn main() -> Result<(), Error> {
    let url = "https://jsonplaceholder.typicode.com/posts";
    let response = reqwest::get(url).await?;
    let posts: Vec<Post> = response.json().await?;

    for post in posts.iter().take(5) {
        println!("ID: {}, Title: {}", post.id, post.title);
    }

    Ok(())
}
`.trim()
---

<Layout>
  <main class='container'>
    <div class='code'>
      <CodeBlock caption='src/main.rs' code={code} language='rust' />
    </div>
  </main>
</Layout>

<style lang='scss'>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .code {
    width: 100%;
    max-width: 800px;
  }
</style>
