---
import ShikiHighlighter from './ShikiHighlighter.astro'
import CopyButton from './CopyButton.astro'

interface CodeBlockProps {
  code: string
  language?: string
  caption?: string
}

const {
  code,
  language = 'plaintext',
  caption = language
} = Astro.props as CodeBlockProps
---

<div class='almethis-code-block-container'>
  <div class='header'>
    <span class='caption'>{caption}</span>
    <CopyButton text={code} />
  </div>

  <div class='body'>
    <ShikiHighlighter code={code} language={language} />
  </div>
</div>

<style scoped lang='scss' data-theme='light'>
  .almethis-code-block-container {
    margin-block: var(--margin-block);
    padding: 0 0.5rem;
    opacity: var(--opacity);
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;

    transition:
      background-color 400ms,
      opacity 800ms;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e5e7eb;
  }

  .body {
    padding: 0 0.5rem;
  }
</style>

<style scoped lang='scss' is:global>
  .almethis-code-block-container {
    background-color: rgba(white, 0.4);
    box-shadow: 0 0 0.25rem rgba(black, 0.1);

    [data-theme='dark'] & {
      background-color: rgba(white, 0.05);
      box-shadow: 0 0 0.25rem rgba(black, 0.3);
    }

    .header {
      .caption {
        font-family: 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
          monospace;
        color: rgba(black, 0.7);

        [data-theme='dark'] & {
          color: rgba(white, 0.7);
        }
      }
    }
  }
</style>
